<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <table>
                <thead>
                <tr>
                    <td>星期日</td>
                    <td>星期一</td>
                    <td>星期二</td>
                    <td>星期三</td>
                    <td>星期四</td>
                    <td>星期五</td>
                    <td>星期六</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>29</td>
                    <td>30</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
</body>
</html>