<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link th:href="@{/css/select.css}" rel="stylesheet"/>
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <table>
                        <tr>
                            <td>月计划状态：</td>
                            <td>
                                <select name="planStatus">
                                    <option value=0>--请选择--</option>
                                    <div th:each="status:${statusList}">
                                        <option th:value="${status.monthStatusId}" th:text="${status.monthStatusName}"></option>
                                    </div>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>维护驻点</td>
                            <td><select name="resourceCity" id="city">
                                <option value=0>--请选择市--</option>
                                <div th:each="city:${cities}">
                                    <option th:value="${city.cityId}" th:text="${city.cityName}"></option>
                                </div>
                            </select>
                                <select name="resourceArea" id="area">
                                    <option value=0>--请选择县--</option>
                                </select>
                                <select id="stagantion" name="stagantion">
                                    <option value=0>--请选择驻点--</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div align="center">
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                class="fa fa-search"></i>&nbsp;搜索</a>
                        <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                class="fa fa-refresh"></i>&nbsp;重置</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:planMonth:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:planMonth:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:planMonth:remove')}]];
    var showDetailFlag = [[${@permission.hasPermi('system:planMonth:showDetail')}]];
    var showDetailFlag = [[${@permission.hasPermi('system:planMonth:showDetail')}]];
    var useLastPlan = [[${@permission.hasPermi('system:planMonth:useLastPlan')}]];
    var from = [[${from}]];
    var prefix = ctx + "system/planMonth";
    $(function () {
        // if (from=="month")
        //     $.modal.open("设置驻点", "/system/planMonth/toSetStagnation", 450, 450);
        var options = {
            url: prefix + "/list",
            updateUrl: prefix + "/edit/{id}",
            exportUrl: prefix + "/export",
            showUrl: prefix + "/toPlanCalendar{id}",
            useLastMonthUrl: prefix + "/useLastMonth/{id}",
            modalName: "巡检资源月计划",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'monthPlanId',
                    title: '月计划编号',
                    visible: true,
                    sortable: false
                },
                {
                    field: 'monthPlanName',
                    title: '月计划名称',
                    sortable: true
                },
                {
                    field: 'monthPlanMonth',
                    title: '月份',
                    visible: false,
                },
                {
                    field: 'monthPlanStatus',
                    title: '状态',
                    visible: false,
                },
                {
                    field: 'month',
                    title: '月计划月份'
                },
                {
                    field: 'stagnationName',
                    title: '代维驻点'
                },
                {
                    field: 'monthPlanResources',
                    title: '计划巡检资源数',
                    sortable: true
                },
                {
                    field: 'statusName',
                    title: '月计划状态',
                    sortable: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + showDetailFlag + '" href="#" onclick="$.operate.showDetail(\'' + row.monthPlanId + '\',\'' + from + '\')"><i class="fa fa-book"></i>详情</a>');
                        if (from=="month") 
                            actions.push('<a class="btn btn-info btn-xs ' + useLastPlan + '" href="#" onclick="useLastMonthPlan(\'' + row.monthPlanId + '\',\'' + row.monthPlanMonth + '\',\'' + row.monthPlanStatus + '\')"><i class="fa fa-edit"></i>沿用上期计划</a>');

                        return actions.join('');
                    }
                }]
        };

        $.table.init(options);

        /**
         * 选择地市下拉框获取相应的区县和驻点
         */
        $("#city").change(function () {
            getChild("city", "area", "city", "city", "area", ctx + "system/city/getLocation");
            getChild("city", "stagnation", "city", "city", "stagantion", ctx + "system/city/getStagantion")
        })
        $("#area").change(function () {
            getChild("area", "stagnation", "city", "area", "stagantion", ctx + "system/city/getStagantion")
        })

        function getChild(level, getLevel, fatherNodeId, nowNodeId, childNodeId, url) {
            $("#" + childNodeId + " option:not(:first)").remove();
            var address = $("#" + nowNodeId).val();
            var dataArr;
            if (level == "area" && address == "0") {
                address = $("#" + fatherNodeId).val();
                level = "city"
            }
            dataArr = {
                locationId: address,
                areaLevel: level
            }
            $.post(url, dataArr, function (data) {
                for (var i = 0; i < data.length; i++) {
                    var childId;
                    var childName;
                    if (getLevel == "area") {
                        childId = data[i].areaId;
                        childName = data[i].areaName;
                    } else {
                        childId = data[i].stagnationId;
                        childName = data[i].stagnationPname;
                    }
                    $("#" + childNodeId).append("<option value='" + childId + "'>" + childName + "</option>");
                }
            })
        }
    });

    function useLastMonthPlan(id, month, status) {
        if (month == 1) {
            $.modal.alertWarning("一月份无法延用上月计划")
        } else if (status != 1 && status !=0) {
            $.modal.alertWarning("制定中的才能延用上期计划")
        } else
            $.operate.useLastMonth(id);
    }
</script>
</body>
</html>