<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link th:href="@{/css/select.css}" rel="stylesheet"/>
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <span id="showResources" th:if="${from eq 'month'}">
        <span th:if="${sta eq 'ing'|| sta eq 'not'}">
        <!--<a class="btn"style="background-color: #E9F4FF;color: #2A70A7;" onclick="addDaySite()">添加站点</a>-->
        <a class="btn" style="background-color: #E9F4FF;color: #2A70A7;"
           th:href="@{/system/planMonth/toSiteList(date=${date},planMonthId=${planMonthId})}"
           shiro:hasPermission="system:planDay:addSite">添加站点</a>
        <a class="btn" style="background-color: #E9F4FF;color: #2A70A7;"
           th:href="@{/system/planMonth/toResourceList(date=${date},planMonthId=${planMonthId})}"
           shiro:hasPermission="system:planDay:addResource">添加资源点</a>
        <a class="btn btn-info" href="#" onclick="releaseResource()"
           shiro:hasPermission="system:planDay:relaseResources">释放资源</a>
    </span></span>
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
            <table id="resourcesDetil"hidden>
                <tr>
                    <td class="col-md-3">资源名称：</td>
                    <td class="col-md-3" id="resourcesName">
                    </td>
                    <td class="col-md-3">资源类型：</td>
                    <td class="col-md-3" id="resourcesType">
                    </td>
                </tr>
                <tr>
                    <td class="col-md-3">资源经度：</td>
                    <td class="col-md-3" id="resourcesLongitude">
                    </td>
                    <td class="col-md-3">资源纬度：</td>
                    <td class="col-md-3" id="resourcesLatitude">
                    </td>
                </tr>
                <tr>
                    <td class="col-md-3">资源地址：</td>
                    <td class="col-md-3" id="resourcesAddress">
                    </td>
                    <td class="col-md-3">资源入网时间：</td>
                    <td class="col-md-3" id="resourcesInnetDate">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var date = [[${date}]];
    var prefix = ctx + "system/planMonth";
    $(function () {
        var optionsPlan = {
            url: prefix + "/dayPlanList?date=" + [[${date}]] + "&planMonthId=" + [[${planMonthId}]],
            modalName: "巡检资源日计划",
            search: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showExport: false,
            showColumns: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'dayPlanId',
                    title: '日计划编号',
                    visible: false
                },
                {
                    field: 'resourcesName',
                    title: '日计划资源名称',
                    sortable: true
                },
                {
                    field: 'dayPlanType',
                    title: '日计划资源类型',
                    sortable: false
                },
                {
                    field: 'resourcesAddress',
                    title: '日计划资源地址',
                    sortable: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="#" onclick="resourcesDetail(\'' + row.dayPlanId + '\',\''+'planDay'+'\')"><i class="fa fa-edit"></i>资源详情</a> ');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(optionsPlan);
    });

    function releaseResource() {
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录")
        } else {
            $.ajax({
                url: ctx + "system/planMonth/releaseResource",
                type: "post",
                dataType: "json",
                data: {"ids": rows.join()},
                success: function (result) {
                    $.operate.ajaxSuccess(result);
                    location.href = "/system/planMonth/toDayDetile?date=" + [[${date}]] + "&planMonthId=" + [[${planMonthId}]] + "&sta=ing&from=month";
                }
            });
        }
    }
    function resourcesDetail(dayPlanId,from){
        $.ajax({
            url: ctx + "system/planMonth/resourcesDetail",
            type: "post",
            dataType: "json",
            data: {"id": dayPlanId,"from":from},
            success: function (result) {
                // result=$.parseJSON(result);
                $("#resourcesName").text(result.resourcesName);
                $("#resourcesType").text(result.resourcesType);
                $("#resourcesLongitude").text(result.resourcesLongitude);
                $("#resourcesLatitude").text(result.resourcesLatitude);
                $("#resourcesAddress").text(result.resourcesAddress);
                $("#resourcesInnetDate").text(result.resourcesInnetDate);
                $("#resourcesDetil").show();
            }
        })
    }
</script>
</body>
</html>