<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" th:href="@{/css/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/css/layui/date.css}">
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/css/layui/layui.js}"></script>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div>
			<span th:if="${from eq 'check'}">
            <a class="btn" style="background-color: #E9F4FF;color: #2A70A7;" th:href="@{/system/check}"
               th:text="返回月计划"></a></span>
            <span th:if="${from eq 'month'}">
            <a class="btn" style="background-color: #E9F4FF;color: #2A70A7;" th:href="@{/system/planMonth}"
               th:text="返回月计划"></a></span>
            <span th:if="${from eq 'month'}">
				<span th:if="${sta eq 'ing'}">
                <a class="btn" style="background-color: #E9F4FF;color: #2A70A7;"
                   onclick="sendToCheck()" shiro:hasPermission="system:planCalendar:sendToCheck"
                   th:text="提交审核"></a></span></span>
            <span th:text="${dateStr}" hidden th:hidden="hidden" id="dateStr"></span>
            <span hidden th:text="${from}" id="from"></span>
            <span hidden th:text="${sta}" id="sta"></span>
        </div>
        <div class="col-sm-12 search-collapse">
            <div class="layui-col-md12">
                <blockquote class="layui-elem-quote" th:text="${planMonth.monthPlanName}"></blockquote>
                <div class="layui-inline" id="test-n2"></div>
            </div>
            <div shiro:hasPermission="system:planCalendar:check" th:if="${from eq 'check'}">
                <div th:if="${sta eq 'wait'}">
                    <form class="layui-form" name="myform">
                        <table class="col-md-6">
                            <tr>
                                <td class="col-md-2">
                                    <label>审批内容</label>
                                </td>
                                <td class="col-md-5">
                                    <textarea name="checkContent" id="checkContent" class="layui-textarea"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">
                                    <label>审批结果</label>
                                </td>
                                <td>
                                    <div class="layui-input-block">
                                        <input type="radio" name="checkResult" value="true" title="是">
                                        <input type="radio" name="checkResult" value="false" title="否">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div style="text-align: center">
                            <button onclick="check()" type="button" class="layui-btn">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['layer', 'form', 'jquery', 'laydate'], function () {
        var startDay = [[${planMonth.monthPlanYear}]] + "-" + [[${planMonth.monthPlanMonth}]] + "-1";
        var endDay = [[${planMonth.monthPlanYear}]] + "-" + [[${planMonth.monthPlanMonth}]] + "-31";
        var planMonthId = [[${planMonth.monthPlanId}]];
        var dateStr = document.getElementById("dateStr").innerHTML;
        var dateArr = dateStr.split(",")
        var from = document.getElementById("from").innerHTML;
        var sta = document.getElementById("sta").innerHTML;
        var obj = {};
        for (var i = 0; i < dateArr.length; i++) {
            obj[dateArr[i]] = ""
        }
        var layer = layui.layer,
            $ = layui.jquery,
            laydate = layui.laydate,
            form = layui.form;
        //定义json
        var data = obj;
        var dataArr = [];
        var new_date = new Date();
        loding_date(new_date, data);

        //日历插件调用方法
        function loding_date(date_value, data) {
            laydate.render({
                elem: '#test-n2'
                , type: 'date'
                , theme: 'grid'
                , min: startDay
                , max: endDay
                , position: 'static'
                , range: false
                , value: startDay
                , isInitValue: false
                , calendar: false
                , btns: false
                , ready: function (value) {
                    hide_mr(value);
                }
                , done: function (value) {
                    //调用弹出层方法
                    date_chose(value);
                }
                , change: function (value, date) {
                    hide_mr(date);
                }
                , mark: data//重要json！
            });
        }

        function hide_mr(value) {
            var mm = value.year + '-' + value.month + '-' + value.date;
            $('.laydate-theme-grid table tbody').find('[lay-ymd="' + mm + '"]').removeClass('layui-this');
        }

        //获取隐藏的弹出层内容
        var date_choebox = $('.date_box').html();

        //定义弹出层方法
        function date_chose(obj_date) {
            var title = "基站综合代维-" + obj_date + "巡检计划"
            layer.open({
                type: 2
                ,
                title: title
                ,
                closeBtn: 1
                ,
                area: ['1300px', '600px']
                ,
                shade: 0.8
                ,
                id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,
                btnAlign: 'c'
                ,
                content: ['/system/planMonth/toDayDetile?date=' + obj_date + "&planMonthId=" + planMonthId +"&sta="+sta+ "&from=" + from],
                end: function () {
                    location.reload();
                }
            });
        }

        //定义添加/编辑标注方法
        function chose_moban(obj_date, markJson) {
            //获取弹出层val
            var chose_moban_val = $('#text_book').val();
            $('#test-n2').html('');//重要！由于插件是嵌套指定容器，再次调用前需要清空原日历控件
            //添加属性
            markJson[obj_date] = chose_moban_val;
            data = {
                time: obj_date,
                value: chose_moban_val
            }
            //添加修改数值
            for (var i in dataArr) {
                if (dataArr[i].time == obj_date) {
                    dataArr[i].value = chose_moban_val;
                    dataArr.splice(i, 1);
                }
            }
            dataArr.push(data);
            //按时间正序排序
            dataArr.sort(function (a, b) {
                return Date.parse(a.time) - Date.parse(b.time);//时间正序
            });
            console.log(JSON.stringify(dataArr))
            //再次调用日历控件，
            loding_date(obj_date, markJson);//重要！，再标注一个日期后会刷新当前日期变为初始值，所以必须调用当前选定日期。
        }

        //撤销选择
        function chexiao(obj_date, markJson) {
            //删除指定日期标注
            delete markJson[obj_date];
            //console.log(JSON.stringify(markJson));
            for (var i in dataArr) {
                if (dataArr[i].time == obj_date) {
                    dataArr.splice(i, 1);
                }
            }
            console.log(JSON.stringify(dataArr))
            //原理同添加一致
            $('#test-n2').html('');
            loding_date(obj_date, markJson);
        }
    });

    function sendToCheck() {
        //配置一个透明的询问框
        layer.msg('确定要提交审核吗?', {
            btn: ['是', '否'], time: 20000,
            yes: function (index, layero) {
                $.ajax({
                    url: "/system/planMonth/sendToCheck",
                    type: "post",
                    dataType: "json",
                    data: {"id": [[${planMonth.monthPlanId}]]},
                    success: function (result) {
                        location.href = "/system/planMonth/toPlanCalendar?id=" + [[${planMonth.monthPlanId}]] + "&from=month";
                    }
                });
            },
            btn2: function (index, layero) {
                layer.closeAll('dialog');
            }
        })
        ;
    }

    function check() {
        var checkContent = document.getElementById("checkContent").value;
        var checkResult = myform.checkResult.value;
        if (checkContent == null || checkResult == null || checkContent == "" || checkResult == "") {
            layer.alert("尚未填写完审批表，不可提交")
        } else {
            layer.msg("确定要提交审核结果吗?", {
                btn: ['是', '否'], time: 20000,
                yes: function () {
                    $.ajax({
                        url: "/system/check/sendCheck",
                        type: "post",
                        dataType: "json",
                        data: {
                            "monthPlanid": [[${planMonth.monthPlanId}]],
                            "checkContent": checkContent,
                            "checkResult": checkResult
                        },
                        success: function () {
                            location.href = "/system/check?sta=checked";
                        }
                    })
                },
                btn2: function (index, layero) {
                    layer.closeAll('dialog');
                }
            })

        }
    }
</script>
</body>
</html>