<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-routingPeople-edit" th:object="${routingPeople}">
            <input id="routingId" name="routingId" th:field="*{routingId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡检人员姓名：</label>
				<div class="col-sm-8">
					<input id="routingName" name="routingName" th:field="*{routingName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡检人员用户名：</label>
				<div class="col-sm-8">
					<input id="routingUsername" name="routingUsername" th:field="*{routingUsername}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡检人员密码：</label>
				<div class="col-sm-8">
					<input id="routingPassword" name="routingPassword" th:field="*{routingPassword}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡检人员身份证号：</label>
				<div class="col-sm-8">
					<input id="routingIdcard" name="routingIdcard" th:field="*{routingIdcard}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡检人员驻点公司编号：</label>
				<div class="col-sm-8">
					<input id="stagnationId" name="stagnationId" th:field="*{stagnationId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡检人员积分：</label>
				<div class="col-sm-8">
					<input id="routingPoint" name="routingPoint" th:field="*{routingPoint}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/routingPeople"
		$("#form-routingPeople-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-routingPeople-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
