<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link th:href="@{/css/select.css}" rel="stylesheet"/>
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<table style="height: 100px">
							<tr>
								<td>巡检人员姓名：</td>
								<td>
									<input type="text" name="routingName"/>
								</td>
							</tr>
							<tr>
								<td>维护驻点</td>
								<td><select name="resourceCity" id="city">
									<option value=0>--请选择市--</option>
									<div th:each="city:${cities}">
										<option th:value="${city.cityId}" th:text="${city.cityName}"></option>
									</div>
								</select>
									<select name="resourceArea" id="area">
										<option value=0>--请选择县--</option>
									</select>
									<select id="stagantion" name="stagantion">
										<option value=0>--请选择驻点--</option>
									</select>
								</td>
							</tr>
						</table>
						<div align="center">
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
									class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
									class="fa fa-refresh"></i>&nbsp;重置</a>
						</div>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:routingPeople:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:routingPeople:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:routingPeople:remove')}]];
        var prefix = ctx + "system/routingPeople";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "巡检人员",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'routingId', 
					title : '巡检人员编号',
					visible: true
				},
				{
					field : 'routingName', 
					title : '巡检人员姓名',
					sortable: true
				},
				{
					field : 'routingUsername',
					title : '巡检人员用户名',
					sortable: true
				},
				{
					field : 'stagnationName',
					title : '巡检人员驻点公司'
				}]
            };
            $.table.init(options);

			/**
			 * 选择地市下拉框获取相应的区县和驻点
			 */
			$("#city").change(function () {
				getChild("city", "area", "city", "city", "area", ctx + "system/city/getLocation");
				getChild("city", "stagnation", "city", "city", "stagantion", ctx + "system/city/getStagantion")
			})
			$("#area").change(function () {
				getChild("area", "stagnation", "city", "area", "stagantion", ctx + "system/city/getStagantion")
			})

			function getChild(level, getLevel, fatherNodeId, nowNodeId, childNodeId, url) {
				$("#" + childNodeId + " option:not(:first)").remove();
				var address = $("#" + nowNodeId).val();
				var dataArr;
				if (level == "area" && address == "0") {
					address = $("#" + fatherNodeId).val();
					level = "city"
				}
				dataArr = {
					locationId: address,
					areaLevel: level
				}
				$.post(url, dataArr, function (data) {
					for (var i = 0; i < data.length; i++) {
						var childId;
						var childName;
						if (getLevel == "area") {
							childId = data[i].areaId;
							childName = data[i].areaName;
						} else {
							childId = data[i].stagnationId;
							childName = data[i].stagnationPname;
						}
						$("#" + childNodeId).append("<option value='" + childId + "'>" + childName + "</option>");
					}
				})
			}
        });
    </script>
</body>
</html>