<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.area.mapper.AreaMapper">
    
    <resultMap type="Area" id="AreaResult">
        <result property="areaId"    column="areaId"    />
        <result property="areaName"    column="areaName"    />
        <result property="father"    column="father"    />
    </resultMap>
	
	<sql id="selectAreaVo">
        select areaId, areaName, father from tbl_area
    </sql>
	
    <select id="selectAreaList" parameterType="Area" resultMap="AreaResult">
        <include refid="selectAreaVo"/>
        <where>  
            <if test="areaId != null "> and areaId = #{areaId}</if>
             <if test="areaName != null  and areaName != '' "> and areaName = #{areaName}</if>
             <if test="father != null "> and father = #{father}</if>
         </where>
    </select>
    
    <select id="selectAreaById" parameterType="Integer" resultMap="AreaResult">
        <include refid="selectAreaVo"/>
        where areaId = #{areaId}
    </select>
        
    <insert id="insertArea" parameterType="Area">
        insert into tbl_area
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="areaId != null  ">areaId,</if>
			<if test="areaName != null  and areaName != ''  ">areaName,</if>
			<if test="father != null  ">father,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="areaId != null  ">#{areaId},</if>
			<if test="areaName != null  and areaName != ''  ">#{areaName},</if>
			<if test="father != null  ">#{father},</if>
         </trim>
    </insert>
	 
    <update id="updateArea" parameterType="Area">
        update tbl_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaName != null  and areaName != ''  ">areaName = #{areaName},</if>
            <if test="father != null  ">father = #{father},</if>
        </trim>
        where areaId = #{areaId}
    </update>

	<delete id="deleteAreaById" parameterType="Integer">
        delete from tbl_area where areaId = #{areaId}
    </delete>
	
    <delete id="deleteAreaByIds" parameterType="String">
        delete from tbl_area where areaId in 
        <foreach item="areaId" collection="array" open="(" separator="," close=")">
            #{areaId}
        </foreach>
    </delete>
    
</mapper>