<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.stagnation.mapper.StagnationMapper">
    
    <resultMap type="Stagnation" id="StagnationResult">
        <result property="stagnationId"    column="stagnation_id"    />
        <result property="stagnationPname"    column="stagnation_pname"    />
        <result property="addressId"    column="address_id"    />
        <result property="pID"    column="PID"    />
        <result property="resourcesNumber"    column="resources_number"    />
        <result property="areaLevelId"    column="area_level_id"    />
    </resultMap>
	
	<sql id="selectStagnationVo">
        select stagnation_id, stagnation_pname, address_id, PID, resources_number, area_level_id from tbl_stagnation
    </sql>
	
    <select id="selectStagnationList" parameterType="Stagnation" resultMap="StagnationResult">
        <include refid="selectStagnationVo"/>
        <where>  
            <if test="stagnationId != null "> and stagnation_id = #{stagnationId}</if>
             <if test="stagnationPname != null  and stagnationPname != '' "> and stagnation_pname like "%"#{stagnationPname}"%"</if>
             <if test="addressId != null "> and address_id = #{addressId}</if>
             <if test="pID != null "> and PID = #{pID}</if>
             <if test="resourcesNumber != null "> and resources_number = #{resourcesNumber}</if>
             <if test="areaLevelId != null "> and area_level_id = #{areaLevelId}</if>
         </where>
    </select>
    
    <select id="selectStagnationById" parameterType="Integer" resultMap="StagnationResult">
        <include refid="selectStagnationVo"/>
        where stagnation_id = #{stagnationId}
    </select>
        
    <insert id="insertStagnation" parameterType="Stagnation">
        insert into tbl_stagnation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="stagnationId != null  ">stagnation_id,</if>
			<if test="stagnationPname != null  and stagnationPname != ''  ">stagnation_pname,</if>
			<if test="addressId != null  ">address_id,</if>
			<if test="pID != null  ">PID,</if>
			<if test="resourcesNumber != null  ">resources_number,</if>
			<if test="areaLevelId != null  ">area_level_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="stagnationId != null  ">#{stagnationId},</if>
			<if test="stagnationPname != null  and stagnationPname != ''  ">#{stagnationPname},</if>
			<if test="addressId != null  ">#{addressId},</if>
			<if test="pID != null  ">#{pID},</if>
			<if test="resourcesNumber != null  ">#{resourcesNumber},</if>
			<if test="areaLevelId != null  ">#{areaLevelId},</if>
         </trim>
    </insert>
	 
    <update id="updateStagnation" parameterType="Stagnation">
        update tbl_stagnation
        <trim prefix="SET" suffixOverrides=",">
            <if test="stagnationPname != null  and stagnationPname != ''  ">stagnation_pname = #{stagnationPname},</if>
            <if test="addressId != null  ">address_id = #{addressId},</if>
            <if test="pID != null  ">PID = #{pID},</if>
            <if test="resourcesNumber != null  ">resources_number = #{resourcesNumber},</if>
            <if test="areaLevelId != null  ">area_level_id = #{areaLevelId},</if>
        </trim>
        where stagnation_id = #{stagnationId}
    </update>

	<delete id="deleteStagnationById" parameterType="Integer">
        delete from tbl_stagnation where stagnation_id = #{stagnationId}
    </delete>
	
    <delete id="deleteStagnationByIds" parameterType="String">
        delete from tbl_stagnation where stagnation_id in 
        <foreach item="stagnationId" collection="array" open="(" separator="," close=")">
            #{stagnationId}
        </foreach>
    </delete>

    <!-- 查询所有省公司的所属资源点数 -->
    <select id="findAllPSCount"  resultMap="StagnationResult">
       select sp.*,IFNULL(sp.resources_number,0)+IFNULL(scc.scCount,0) spCount from tbl_stagnation sp LEFT JOIN (select scr.*,IFNULL(scr.resources_number,0)+IFNULL(sar.resources_number,0) scCount from (select * from tbl_stagnation sc,(select * from tbl_plan_month where area_level=2) pma where sc.stagnation_id=pma.month_plan_stagnation GROUP BY sc.stagnation_id) scr LEFT JOIN (select * from tbl_stagnation sc,(select * from tbl_plan_month where area_level=3) pma where sc.stagnation_id=pma.month_plan_stagnation GROUP BY sc.stagnation_id) sar on scr.stagnation_id=sar.PID) scc ON sp.stagnation_id=scc.PID where sp.PID is null  and sp.stagnation_id != 10000 GROUP BY sp.stagnation_id
    </select>

    <select id="findAllPS"  resultMap="StagnationResult">
        <include refid="selectStagnationVo"/>
        where PID is null and stagnation_id !=10000
    </select>

</mapper>