<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								任务编号：<input type="text" name="messionId"/>
							</li>

							<li>
								巡检项目编号：<input type="text" name="routingProjectId"/>
							</li>

							<li>
								是否有安全隐患：<input type="text" name="potentialSafetyHazard"/>
							</li>

							<li>
								回复站点编号：<input type="text" name="replySiteId"/>
							</li>

							<li>
								回复资源点编号：<input type="text" name="replyResourceId"/>
							</li>

							<li>
								上传图片：<input type="text" name="picture"/>
							</li>

							<li>
								巡检人员编号：<input type="text" name="routingPersonId"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:reply:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:reply:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:reply:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:reply:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:reply:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:reply:remove')}]];
        var prefix = ctx + "system/reply";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "巡检回复",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'replyId', 
					title : '回复编号',
					visible: false
				},
				{
					field : 'messionId', 
					title : '任务编号',
					sortable: true
				},
				{
					field : 'routingProjectId', 
					title : '巡检项目编号',
					sortable: true
				},
				{
					field : 'potentialSafetyHazard', 
					title : '是否有安全隐患',
					sortable: true
				},
				{
					field : 'replySiteId', 
					title : '回复站点编号',
					sortable: true
				},
				{
					field : 'replyResourceId', 
					title : '回复资源点编号',
					sortable: true
				},
				{
					field : 'picture', 
					title : '上传图片',
					sortable: true
				},
				{
					field : 'routingPersonId', 
					title : '巡检人员编号',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.replyId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.replyId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>