<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link th:href="@{/css/select.css}" rel="stylesheet"/>
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<table style="height: 100px">
							<tr>
								<td>任务编号：</td>
								<td>
									<input type="text" name="messionId"/>
								</td>
							</tr>
							<tr>
								<td>巡检人员编号：</td>
								<td><input type="text" name="routingPersonId"/>
								</td>
							</tr>
						</table>
						<div align="center">
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
									class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
									class="fa fa-refresh"></i>&nbsp;重置</a>
						</div>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:reply:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:reply:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:reply:remove')}]];
        var prefix = ctx + "system/reply";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "巡检回复",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'replyId', 
					title : '回复编号',
					visible: false
				},
				{
					field : 'messionId', 
					title : '任务编号',
					sortable: true
				},
				{
					field : 'routingProject',
					title : '巡检项目',
					sortable: true
				},
				{
					field : 'safety',
					title : '是否有安全隐患',
					sortable: false
				},
				{
					field : 'resourcesName',
					title : '回复资源名称',
					sortable: true
				},
				{
					field : 'replyDate',
					title : '回复日期'
				},
				{
					field : 'routingPersonId', 
					title : '巡检人员编号',
					sortable: true
				}, {
						field: 'filePath',
						title: '文件预览',
						formatter: function (value, row, index) {
							return '<a href="/profile/avatar/' + row.picture + '" target="_blank"><img style="width:30;height:30px;"  src="/profile/avatar/' + row.picture + '"/></a>';
						}
					}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>