<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								巡检人员编号：<input type="text" name="messionRoutingId"/>
							</li>

							<li>
								任务日计划编号：<input type="text" name="messionDayId"/>
							</li>

							<li>
								任务站点编号：<input type="text" name="messionSiteId"/>
							</li>

							<li>
								任务资源点编号：<input type="text" name="messionResourceId"/>
							</li>

							<li>
								任务日期：<input type="text" name="messionDate"/>
							</li>

							<li>
								任务状态：<input type="text" name="messionStatus"/>
							</li>

							<li>
								任务签到状态：<input type="text" name="messionCheckStatus"/>
							</li>

							<li>
								任务驻点编号：<input type="text" name="messionStagnationId"/>
							</li>

							<li>
								任务签到经度：<input type="text" name="messionLongitude"/>
							</li>

							<li>
								任务签到纬度：<input type="text" name="messionLatitude"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:mession:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:mession:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:mession:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:mession:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:mession:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:mession:remove')}]];
        var prefix = ctx + "system/mession";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "日计划分配任务",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'messionId', 
					title : '任务表编号',
					visible: false
				},
				{
					field : 'messionRoutingId', 
					title : '巡检人员编号',
					sortable: true
				},
				{
					field : 'messionDayId', 
					title : '任务日计划编号',
					sortable: true
				},
				{
					field : 'messionSiteId', 
					title : '任务站点编号',
					sortable: true
				},
				{
					field : 'messionResourceId', 
					title : '任务资源点编号',
					sortable: true
				},
				{
					field : 'messionDate', 
					title : '任务日期',
					sortable: true
				},
				{
					field : 'messionStatus', 
					title : '任务状态',
					sortable: true
				},
				{
					field : 'messionCheckStatus', 
					title : '任务签到状态',
					sortable: true
				},
				{
					field : 'messionStagnationId', 
					title : '任务驻点编号',
					sortable: true
				},
				{
					field : 'messionLongitude', 
					title : '任务签到经度',
					sortable: true
				},
				{
					field : 'messionLatitude', 
					title : '任务签到纬度',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.messionId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.messionId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>