<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>统计图表</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/select.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="col-sm-12 search-collapse">
    <!--<form class="form-horizontal m" id="form-site-add">
        <table>
            <tr>
                <td>驻点</td>
                <td colspan="3"><select name="resourceCity" id="city">
                    <option value=0>&#45;&#45;请选择&#45;&#45;</option>
                    <div th:each="city:${cities}">
                        <option th:value="${city.cityId}" th:text="${city.cityName}"></option>
                    </div>
                </select>
                    <select name="resourceArea" id="area">
                        <option value=0>&#45;&#45;请选择&#45;&#45;</option>
                    </select>
                    <select id="stagantion" name="stagantion">
                        <option value=101>&#45;&#45;请选择驻点&#45;&#45;</option>
                    </select>
                </td>
            </tr>
        </table>
        <div align="center">
            <a class="btn btn-primary btn-rounded btn-sm" onclick="search()"><i
                    class="fa fa-search"></i>&nbsp;搜索</a>
            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                    class="fa fa-refresh"></i>&nbsp;重置</a>
        </div>
    </form>-->
    <label>
        <label>主要功能</label>
        <label>资源点分配调度</label>
        <label>巡检计划制定</label>
        <label>审批计划</label>
    </label>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
    /**
     * 选择地市下拉框获取相应的区县和驻点
     */
    /*$("#city").change(function () {
        getChild("city", "area", "city", "city", "area", ctx + "system/city/getLocation");
        getChild("city", "stagnation", "city", "city", "stagantion", ctx + "system/city/getStagantion")
    })
    $("#area").change(function () {
        getChild("area", "stagnation", "city", "area", "stagantion", ctx + "system/city/getStagantion")
    })

    function getChild(level, getLevel, fatherNodeId, nowNodeId, childNodeId, url) {
        $("#" + childNodeId + " option:not(:first)").remove();
        var address = $("#" + nowNodeId).val();
        var dataArr;
        if (level == "area" && address == "0") {
            address = $("#" + fatherNodeId).val();
            level = "city"
        }
        dataArr = {
            locationId: address,
            areaLevel: level
        }
        $.post(url, dataArr, function (data) {
            for (var i = 0; i < data.length; i++) {
                var childId;
                var childName;
                if (getLevel == "area") {
                    childId = data[i].areaId;
                    childName = data[i].areaName;
                } else {
                    childId = data[i].stagnationId;
                    childName = data[i].stagnationPname;
                }
                $("#" + childNodeId).append("<option value='" + childId + "'>" + childName + "</option>");
            }
        })
    }
    function search() {
        var stagantion = $("#stagantion").val();
        if (stagantion==101){
            $.modal.alertWarning("请选择驻点")
        } else{
            $.ajax({
                url: "/system/planMonth/search",
                type: "post",
                dataType: "json",
                data: {"stagantionId":stagantion},
                success: function (result) {
                    $.operate.ajaxSuccess(result);
                    location.href = "/system/planMonth/toDayDetile?date=" + [[${date}]] + "&planMonthId=" + [[${planMonthId}]]+"&from=month&sta=ing";
                }
            });
        }
    }*/

</script>
</body>
</html>
