<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-stagnation-edit" th:object="${stagnation}">
            <input id="stagnationId" name="stagnationId" th:field="*{stagnationId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">驻点名称：</label>
				<div class="col-sm-8">
					<input id="stagnationPname" name="stagnationPname" th:field="*{stagnationPname}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">城市代码：</label>
				<div class="col-sm-8">
					<input id="addressId" name="addressId" th:field="*{addressId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">上级驻点代码：</label>
				<div class="col-sm-8">
					<input id="pID" name="pID" th:field="*{pID}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">驻点资源总数：</label>
				<div class="col-sm-8">
					<input id="resourcesNumber" name="resourcesNumber" th:field="*{resourcesNumber}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">地域级别编号：</label>
				<div class="col-sm-8">
					<input id="areaLevelId" name="areaLevelId" th:field="*{areaLevelId}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/stagnation"
		$("#form-stagnation-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-stagnation-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
