<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:stagnation:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:stagnation:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:stagnation:remove')}]];
        var prefix = ctx + "system/stagnation";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "驻点",
				search: false,
				showSearch: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'stagnationId', 
					title : '驻点代码',
					visible: true
				},
				{
					field : 'stagnationPname', 
					title : '驻点名称',
					sortable: true
				},
				{
					field : 'areaName',
					title : '市县名称'
				},
				{
					field : 'fatherName',
					title : '上级驻点名称'
				},
				{
					field : 'levelName',
					title : '驻点级别'
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>