<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link th:href="@{/css/select.css}" rel="stylesheet"/>
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="btn-group" role="group">
            <a class="btn" style="background-color: #CBDCED;color: #0033AB;border: 1px solid #0033AB"
               href="/system/resource/0">资源点分配
            </a>
            <a class="btn" style="background-color: #CBDCED;color: #0033AB;border: 1px solid #0033AB"
               href="/system/resource/1">驻点资源
            </a>
        </div>
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <table>
                        <tr>
                            <td>资源点名称：</td>
                            <td><input type="text" name="resourceName"/></td>
                            <td>资源ID</td>
                            <td>
                                <input type="text" name="resourceCounty"/>
                            </td>
                        </tr>
                        <tr>
                            <td>市</td>
                            <td>
                                <select name="resourceCity" id="city">
                                    <option value=0>--请选择--</option>
                                    <div th:each="city:${cities}">
                                        <option th:value="${city.cityId}" th:text="${city.city}"></option>
                                    </div>
                                </select>
                            </td>
                            <td>区县</td>
                            <td>
                                <select name="resourceArea" id="area">
                                    <option value=0>--请选择--</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>巡检周期</td>
                            <td>
                                <input type="checkbox" name="resourceCycle" value="1"/>月
                                <input type="checkbox" name="resourceCycle" value="3"/>季
                                <input type="checkbox" name="resourceCycle" value="6"/>半年
                                <input type="checkbox" name="resourceCycle" value="12"/>年
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <div align="center">
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                class="fa fa-search"></i>&nbsp;搜索</a>
                        <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                class="fa fa-refresh"></i>&nbsp;重置</a>
                    </div>
                </div>
            </form>
        </div>

        <div id="stagnationResource" style="display: none">
            <button style="background-color: #E9F4FF;color: #2A70A7;" onclick="cancelDistribute()">释放关系</button>
        </div>
        <div id="distributeResource">
            <label style="color: red;">分配到：</label>
            <select id="city2">
                <option value=0>--请选择城市--</option>
                <div th:each="city:${cities}">
                    <option th:value="${city.cityId}" th:text="${city.city}"></option>
                </div>
            </select>
            <select id="area2">
                <option value=0>--请选择区县--</option>
            </select>
            <select id="stagantion">
                <option value=0>--请选择驻点--</option>
            </select>
            <button style="background-color: #E9F4FF;color: #2A70A7;" onclick="distribute()">分配资源</button>
        </div>


        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:resource:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:resource:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:resource:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:resource:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:resource:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:resource:remove')}]];
    var prefix = ctx + "system/resource";
    $(function () {
        console.log(ctx)
        if ([[${flag}]] == 0) {
            $("#distributeResource").show();
            $("#stagnationResource").hide();
        } else {
            $("#stagnationResource").show();
            $("#distributeResource").hide();
        }
        var options = {
            url: prefix + "/list/{" + [[${flag}]] + "}",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "资源点",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'resourceId',
                    title: '资源点编号',
                    visible: true
                },
                {
                    field: 'resourceName',
                    title: '资源点名称',
                    sortable: true
                },
                {
                    field: 'resourceLongitude',
                    title: '资源点经度',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'resourceLatitude',
                    title: '资源点纬度',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'areaName',
                    title: '地区',
                    sortable: true
                },
                {
                    field: 'resourceAddress',
                    title: '资源点地址',
                    sortable: true
                },
                {
                    field: 'resourceDotType',
                    title: '资源点属性',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'resourceStatus',
                    title: '资源点状态(在网)',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'resourceStartTime',
                    title: '资源点开始时间',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'resourceMaintainUnit',
                    title: '资源点维护的单位',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'resourceMaintainUnitTel',
                    title: '资源点维护单位联系电话',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'resourceMaintainUnitName',
                    title: '资源点维护单位联系人',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'resourceSadegrareManTel',
                    title: '资源点安检员电话',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'resourceDeleted',
                    title: '资源点删除状态',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'resourcePlanDay',
                    title: '资源点计划使用日期',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'resourceCycle',
                    title: '资源点周期',
                    sortable: true
                },
                {
                    field: 'resourceLastDate',
                    title: '上次巡检日期',
                    sortable: true
                },
                {
                    field: 'stagantionCompanyName',
                    title: '维护驻点',
                    sortable: true
                },
                {
                    field: 'resourceType',
                    title: '资源类型',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'distributeStatus',
                    title: '分配状态',
                    sortable: true,
                    visible: true
                }]
        };
        $.table.init(options);
        /**
         * 下拉框获取相应的区县
         */
        $("#city").change(function () {
            $("#area option:not(:first)").remove();
            var city = $(this).val();
            if (city != "") {
                var url = ctx + "system/resource/getLocation";
                $.post(url, {
                    locationId: city,
                    "location": "city"
                }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var areaId = data[i].areaID;
                        var area = data[i].area;
                        $("#area").append("<option value='" + areaId + "'>" + area + "</option>");
                    }
                })
            }
        })
        /**
         * 下拉框获取相应的区县
         */
        $("#city2").change(function () {
            $("#area2 option:not(:first)").remove();
            $("#stagantion option:not(:first)").remove();
            var city = $(this).val();
            if (city != "") {
                var urlArea = ctx + "system/resource/getLocation";
                var urlStagantion = ctx + "system/resource/getStagantion";
                $.post(urlArea, {
                    locationId: city
                }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var areaId = data[i].areaID;
                        var area = data[i].area;
                        $("#area2").append("<option value='" + areaId + "'>" + area + "</option>");
                    }
                })
                $.post(urlStagantion, {
                    locationId: city,
                    areaLevel: "city"
                }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var stagnationId = data[i].stagnationId;
                        var stagnationPname = data[i].stagnationPname;
                        $("#stagantion").append("<option value='" + stagnationId + "'>" + stagnationPname + "</option>");
                    }
                })
            }
        })
        /**
         * 下拉框获取相应的驻点
         */
        $("#area2").change(function () {
            $("#stagantion option:not(:first)").remove();
            var area = $(this).val();
            if (area != "") {
                var url = ctx + "system/resource/getStagantion";
                $.post(url, {
                    locationId: area,
                    areaLevel: "area"
                }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var stagnationId = data[i].stagnationId;
                        var stagnationPname = data[i].stagnationPname;
                        $("#stagantion").append("<option value='" + stagnationId + "'>" + stagnationPname + "</option>");
                    }
                })
            }
        })
    });

    /**
     * 分配资源点
     */
    function distribute() {
        var stagantion = $("#stagantion").val();
        if (stagantion == 0) {
            $.modal.alertWarning("请选择驻点");
        } else {
            var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            $.modal.confirm("确认要分配选中的" + rows.length + "个资源点吗?", function () {
                $.modal.loading("正在处理中，请稍后...");
                $.ajax({
                    url: ctx + "system/resource/distribute",
                    type: "post",
                    dataType: "json",
                    data: {"ids": rows.join(), "stagantion": stagantion},
                    success: function (result) {
                        $.operate.ajaxSuccess(result);
                    }
                });
            });
        }
    }
</script>
</body>
</html>